.area1 {
    -fx-graphic: url("a1.png");
}

.area1:hover {
	    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );

    -fx-graphic: url("a1hover.png");
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}