.button {
    -fx-text-fill: white;
    -fx-font-family: "Dimbo";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#0068a5, #00507f);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: linear-gradient(#00507f, #0068a5);
}