.button {
    -fx-text-fill: white;
    -fx-font-family: "Dimbo";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#d8d8d8, #8c8c8c);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: linear-gradient(#8c8c8c, #d8d8d8);
}